<div>
  <img src="/assets/hisma-cropped.webp" alt="Headshot of Richard Meyer">
  <p>
    Hi, I'm <strong>Richard</strong>. I'm a controls and software engineer based in Orlando, FL.
    I'm passionate about all things tech.  As of late I've been obsessed with AI and new trends in industrial automation.
    I'm keen to share my knowledge with others. 
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
